@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Caveat');

body {
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
  font-weight: bolder;
  font-size: 20pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.attributesTable {
  text-align: center;
  border: 3px outset rgb(197, 171, 137);
  padding: 10px;
  margin-left: 20px;
  background-color: rgba(247, 233, 170, 0.753);
  display: inline-block;
  
}
.characterTable {
  border: 3px outset rgb(197, 171, 137);
  padding: 10px;
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgba(247, 233, 170, 0.753);
  
}
input[type=text]:focus {
  text-align: center;
  border: 3px solid rgb(126, 88, 53);
 
}
.textbox {
  width: 40px;
}

.characterSheet{
  width: 25vw;
  border: 7px double rgb(112, 85, 49);
  padding: 10px;
  margin-left: 20px;
  background-color: rgba(247, 233, 170, 0.603);
  
}
.character{
  padding: 5px;
  
}
.attributes{
 
  
}
.diceRoll {
  width:5vw;
  height: 10vh;
  display: inline-block;
  margin: 0px;
  position: relative;
}
.dice {
  width: 30vw;
  position:relative;
  
  margin-left: 20px;
}
.background {
  background: url(https://i.pinimg.com/originals/6c/7b/f6/6c7bf6aaca5c44a7dfb4019420571ebb.jpg) no-repeat;
  position: absolute;
  min-height: 100%;
  min-width: 100%;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.info{
  font-family: 'Architects Daughter', cursive;

}
.divider {
  border-bottom: 5px double rgb(112, 85, 49);
  border-width: 100%;
}
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 
  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}





